* {
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

/* .header {
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center;
} */
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1 {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 45px;
    font-weight: bold;
    width: 100%;
    background-color: whitesmoke;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


header{
    width: 100%;
    
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #12395D;
    color: #fefefe;
    position: relative;
    z-index: 1000;
    height: 60px;
}

.logo{
    font-size: 28px;
    font-weight: bold;
    color: #fefefe;
}

.logo img {
    width: 100px; /* Ajusta el tamaño según tu necesidad */
    font-size: 28px;
    font-weight: bold;
    color: #fefefe;
}

.menu-toggle {
    display: none; /* Se mostrará solo en pantallas pequeñas */
    flex-direction: column;
    cursor: pointer;
    z-index: 2000;
}

.menu-toggle span {
    width: 30px;
    height: 3px;
    background-color: #fefefe;
    margin: 4px 0;
}

.menu {
    display: flex;
}


.menu a {
    color: #fefefe;
    text-decoration: none;
    margin-left: 20px;
    padding: 10px 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
    
    
}
.menu a:hover{
    color: #11101b;
    background: #fefefe;
}


@media screen and (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }
    .menu {
        display: none; /* Se ocultará en pantallas pequeñas */
        flex-direction: column;
        background-color: #11101b;
        position: absolute;
        top: 60px; /* Ajusta según tu diseño */
        left: 0;
        width: 100%;
    }
    .menu a {
        margin: 0;
        padding: 10px 20px;
        border-bottom: 1px solid #11101b;
    }
    .menu.active {
        display: flex; /* Se mostrará al hacer clic en el botón de menú */
    }
}





@media screen and (max-width: 480px) {
    .header {
        height: 200px;
    }
    h1 {
        font-size: 24px;
    }
}
@media screen and (min-width: 481px) and (max-width: 767px) {
    .header {
        height: 250px;
    }
    h1 {
        font-size: 28px;
    }
}
@media screen and (min-width: 768px) and (max-width: 970px) {
    .header {
        height: 300px;
    }
    h1 {
        font-size: 32px;
    }
}
@media screen and (min-width: 971px) {
    .header {
        height: 350px;
    }
    h1 {
        font-size: 36px;
    }
}
@media screen and (min-height: 800px) {
    .sube {
        display: block;
    }
}
.gallery1 {
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 5px;
    align-items: center;
}
@media screen and (max-width: 600px){
    .gallery1 {
        flex-direction: column;
        justify-content: space-between;
    }
}
.gallery2 {
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5px;
    align-items: center;
}
@media screen and (max-width: 600px){
    .gallery2 {
        flex-direction: column;
        justify-content: space-between;
    }
}
.foto {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}
.foto:hover{
    transform: scale(1.14);
    transition: all 0.7s;
}   
.activitiesDescriptions {
    color: white;
    position: left;
    font-size: 25px;
    height: 40px;
    border: 0;
    margin: 10px;
    padding: 15px;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
    background: #7db0de;
}
/* h2{
    padding: 10px;
    border: 5px solid black;
    text-align: center;
    font-variant: small-caps;
    color: #050504;
    background-color: blue;
    font-size: 35px;
} */
#queHacemos {
    text-align: center;
    margin-top: 70px;
    margin-left: 250px;
}

/* FOOTER */
footer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
    width: 100%;
    background-color: #12395D;
    min-height: 100px;
    
}

.social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
    flex-wrap: wrap;
    list-style: none;
}

.icon-elem{
    list-style: none;
}

.icon{
    color: white;
    font-size: 32px;
    display: inline-block;
    margin: 0 10px;
    transform: 0.5s;
    align-items: center;
    margin: 10px;
    flex-wrap: wrap;
    text-decoration: none;
}

.menu-footer{
    display: flex;
    justify-content: center;
    position: relative;
    list-style: none;
}

.menu-elem{
    list-style: none;
}

.menu-icon{
    color: white;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.5;
    transition: 0.3s;
}

.menu-icon:hover{
    opacity: 1;
}

.text{
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
}

.icon:hover{
    transform: translateY(-10px);
}

form {
   
    padding: 15px;
    height: 450px;
    
    display: flex;
    flex-direction: column;
}
.form h3 {
    color: #CBCBCB;
    font-weight: 100;
    margin-bottom: 15px;
}
form input, form textarea{
    border-style: solid;
    border-color: #7db0de;
    margin: 10px;
    padding: 15px;
    outline: none;
    font-size: 15px;
    border-radius: 30px;
    
}

.form input::placeholder {
    color: #050504;
}
form button{
   
    border-radius: 30px;
    width: 130px;
    margin: 20px;
}
.Registro{
    background-color: white;
    padding: 30px;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formRegistry{
  
 
    height: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    
    border-radius: 10px;
    padding: 30px 40px;
    background-color: transparent;
    border: 5px solid rgba(12, 12, 12, 0.2);
    backdrop-filter: blur(7px);
    box-shadow: 0 0 10px rgb(0, 0, 0, .2);
    
}
.btn-formregistro{
    text-align: center;
}
.Registro .btn-registro{
    width: 30%;
    background-color: #12395D;
    border:none;
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    align-items: center;
    font-weight: 600;
    padding: 15px;
   
   
}
.Registro .label-genero{
    margin: 15px;
}

.Registro .label-formaspago{
    margin: 15px;
}
.Registro .radio-button{
    height: 30px;
    font-size: 16px;
    

}

p {
   /*  height: 40px;
    border: 0;
    margin: 10px;
    padding: 15px;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
    background: #CBCBCB; */
    color: white;
}

@media screen and (max-width: 500px) {
    #gateway {
        width: 100%;
        margin-bottom: 10px;
    }
}
.Ingresar {
    
    padding: 50px;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    background-position: center;
    
}
.form-ingresar{
    border-radius: 10px;
    width: 30%;
    height: auto;
    padding: 30px 40px;
    background-color: transparent;
    border: 5px solid rgba(12, 12, 12, 0.2);
    backdrop-filter: blur(7px);
    box-shadow: 0 0 10px rgb(0, 0, 0, .2);
    
}
.Ingresar h1{
    padding-top: 15;
    font-size: 36px;
    text-align: center;
    background-color: transparent;
    color: #050504;
    text-decoration-line: underline;
    text-decoration-color: #7db0de;

    
}

.Ingresar input-ingresar{
    width: 100%;
    height: 50px;
}

.input-ingresar input {
    width: 80%;
    height: auto;
    margin: 18px;
}

.input-ingresar input::placeholder {
    color: #050504;
}

.Ingresar .btn-ingresar{
    width: auto;
    background-color: #12395D;
    border:none;
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    padding: 20px;
    margin-left: 20px;
}

.btn-ingresar:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.link-registro{
    background-color: transparent;
    font-size: 14.5px;
    margin-top: 20px;
    text-align: center;
    height: auto;
}

.link-registro span a{
    color:#12395D;
    text-decoration: none;
    font-weight: 600;
}

.link-registro span a:hover {
    text-decoration: underline;
}
.copyright{
    text-align: center;
    font-size: 20px;
    color: #050504;
    padding: 15px;
}
.copyright i{
    font-size: 30px;
    letter-spacing: 15px;
    color: blue;
}
.sube{
    height: 40px;
    width: 40px;
    background-color: blue;
    border: 1px black solid;
    position: fixed;
    bottom: 30px;
    right: 30px;
    text-align: center;
    font-size: 30px;
    color: #CBCBCB;
}

/* SECCION FORMULARIO CONTACTO */

.wrap-title-section{
    display: flex;
    justify-content: center;
    margin: 3rem 1rem;
}

.wrap-two-column{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1300px;
    margin: 0 auto;
}

.warp-img_two-column{
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.wrap-text-column h3{
    padding: 2rem 0;
    color: #050504;
}

section.two-column-section.form{
    background-color: #f2f2f2;
    padding: 3rem 0;
}

.form input, .form textarea{

    display: flex;
    line-height: 1.75rem;
    width: 100%;
    border: 1.5px solid #7db0de;
    
}

.form textarea{
    min-height: 100px;
}

.btn-contacto{
    
    background-color: #12395D;
    border:none;
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    padding: 15px;
    margin-left: 80px;
    
  
}

.btn-carousel{
    background-color: #7db0de;
    border:none;
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    padding: 10px;
    text-decoration: none;
    
}

.input-file{
    border-style: none;
}